{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "plugins": ["@prettier/plugin-php"],
  "overrides": [
    {
      "files": "*.blade.php",
      "options": {
        "parser": "php",
        "tabWidth": 4
      }
    },
    {
      "files": "*.php",
      "options": {
        "parser": "php"
      }
    }
  ]
}
